/* Global Colour Variables */
:root {
	--colourGreenStarWing: #b9d840;
	--colourWhite: #ffffff;
	--colourNeutralWarm: #eeeaea;
	--colourNeutralCool: #ececf3;
	--colourBlack: #000000;
	--colourGreenSuccess: #dff782;
	--colourRedError: #ff9d9d;
	--colourYellowWarning: #fce76f;
	--colourBlueInfo: #91cbf8;
	--colourRedPastel: #fab0ba;
	--colourOrangePastel: #fddaa5;
	--colourYellowPastel: #fdfcb8;
	--colourGreenPastel: #acfcd7;
	--colourBluePastel: #bde0fe;
	--colourPurplePastel: #e5c9f8;
	--colourTextBlack: rgba(0, 0, 0, 0.87);
	--colourTextBlackSoft: rgba(0, 0, 0, 0.58);
	--colourTextWhite: rgba(255, 255, 255, 1);
	--colourTextWhiteSoft: rgba(255, 255, 255, 0.7);
}

/* General Styles */
html,
body {
	height: 100%;
	margin: 0;
	background: var(--colourWhite);
	font-family: "Georgia", serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Varela Round", sans-serif;
}

.title {
	color: var(--colourBlack);
	font-size: 2em;
	font-weight: bold;
	margin: 0;
	text-align: left;
}

/* Container Layout */
.dashboard-container {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem 0.5rem;
	padding: 1rem;
	max-width: 100%;
}

/* General Chart Styles */
.chart {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background-color: var(--colourWhite);
	padding: 0.5rem;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 4px 10px rgba(0, 0, 0, 0.2);
	height: 100%;
	border: none;
}

/* Chart SVG or Canvas Styling */
.chart svg,
.chart canvas {
	width: 100%;
	height: auto;
}

.chart-title {
	font-size: 1.7rem;
	font-family: "Georgia", serif;
}

/* Additional styles for charts 1-9 */

/* Chart 4 Brush Style */
.brushed {
	fill: #b9d840;
	stroke: #000;
}

/* Legend */
.legendRect:hover {
	cursor: pointer;
	filter: brightness(90%);
}

/* CSS for Charts 1-6, 8, 9 */
#chart1,
#chart2,
#chart3,
#chart4,
#chart5,
#chart6,
#chart7,
#chart8,
#chart9 {
	font-family: "Georgia", serif;
	width: 90%;
	position: relative;
	margin: 0 auto;
}
#chart1 {
	margin-top: 0;
}

div#chart4.chart {
	padding: 2rem 1.5rem;
}

#chart4 rect.selection {
	fill: var(--colourBluePastel);
}

/* CSS for Chart 7: Number of Loyal Customers */
#chart7 {
	color: var(--colourBlack);
	border-radius: 10px;
	justify-content: center;
	align-items: center;
}

.percent-symbol {
	font-size: 3rem;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.number {
	fill: var(--colourRedPastel);
}

.center-text {
	fill: var(--colourRedPastel);
	font-size: 50px;
	font-weight: bold;
}

.tab-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.tab-button {
	padding: 10px 20px;
	margin: 5px;
	border-radius: 12px;
	border: none;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
	font-size: 1rem;
	text-align: center;
	cursor: pointer;
	transition: all 0.3s ease;
	max-width: fit-content;
	background-color: var(--colourGreenStarWing);
	color: var(--starwing-colourTextBlack);
}

.tab-button:hover {
	background-color: #d5e0a6;
	color: var(--starwing-colourTextWhite);
}

.tab-content {
	display: none;
	background-color: var(--colourGreenStarWing);
	color: var(--colourBlack);
	padding: 20px;
	border-radius: 5px;
	margin-top: 10px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.number::after {
	content: attr(data-text-label);
	display: block;
	color: var(--colourBlack);
	margin-top: 5px;
	font-size: 1em;
	font-weight: normal;
}

.chart-tooltip {
	position: absolute;
	text-align: center;
	padding: 5px;
	font: 16px Arial, sans-serif;
	background: beige;
}

/* Footer and Other Elements */
.logo {
	width: 120px;
}

.title {
	font-size: 1.5em;
}

.dashboard-footer {
	font-size: 0.7em;
	padding: 0.5em;
}
